
<mat-expansion-panel *ngFor="let bus of buses">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ bus.organisation }} - {{ bus.date }}
    </mat-panel-title>
    <mat-panel-description>
      <!-- This is a summary of the content -->
    </mat-panel-description>
  </mat-expansion-panel-header>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">BusID</th>
          <th scope="col">Route Variant</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subItem of bus['busData']">
            <td>{{ subItem.busId }}</td>
            <td class="route-variant"><strong>{{ subItem.routeVariant | firstWord }}</strong> {{ subItem.routeVariant | secondWord }} {{ subItem.routeVariant | thirdWord }}</td>
            <td [ngClass]="getBusServiceClass(subItem)">{{ subItem.deviationFromTimetable | status}}</td>
        </tr>
      </tbody>
    </table>
</mat-expansion-panel>
